<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996317401702-s1nuro00aj5aojfqc3qsh8q479ebtsor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996317401702-s1nuro00aj5aojfqc3qsh8q479ebtsor</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcHfpe4o4x5BoN4PIzChviNHHU2bKXao</string>
	<key>GCM_SENDER_ID</key>
	<string>996317401702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dandilyonn.Ecotegrity</string>
	<key>PROJECT_ID</key>
	<string>ecotegrity-80e60</string>
	<key>STORAGE_BUCKET</key>
	<string>ecotegrity-80e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996317401702:ios:e6fbf77b4158cb6334d3a7</string>
	<key>DATABASE_URL</key>
	<string>https://ecotegrity-80e60.firebaseio.com</string>
</dict>
</plist>